<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < categories.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= categories[i].name %></td>
      <td>
        <form
          action="/category/delete/<%= categories[i]._id %>?_method=DELETE"
          method="POST"
        >
          <a
            href="/category/edit/<%= categories[i]._id %>"
            class="btn btn-warning"
            ><i class="fas fa-pencil-alt"></i>
            Update
          </a>
          <button class="btn btn-danger">
            <i class="fas fa-trash"></i>
            Delete
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
